.videoThumbnail {
  height: 140px;
  width: 250px;
}

.videoInfo {
  display: flex;
  margin: 5px 0 40px 0;
}

.videoAvatar {
  width: 30px !important;
  height: 30px !important;
}

.videoTitleContainer {
  margin-left: 15px;
}

.videoTitleContainer > h4 {
  font-size: 15px;
  margin-bottom: 5px;
}

.videoTitleContainer > p {
  font-size: 13px;
  color: #606060;
  margin: 2px 0;
}
